<header class="commonheader">
    <img class="skynewimg" src="../imgs/718035jGvX6de5 (1).jpg" />
    <a href="/" class="home">Home</a>
    <a href="/sports" class="sports">Sports</a>
    <a href="/contactus" class="contactus">Contact Us</a>
    <a href="/aboutus" class="aboutus">About Us</a>
</header>